* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

body {
  max-width: 80rem;
  margin: 1rem auto;
  line-height: 1.5;
}

.name h2 {
  line-height: 1;
}
.name p {
  display: block;
  color: gray;
  line-height: 1.5rem;
  font-size: 1.25rem;
}

ul {
  margin-left: 1rem;
}

h2 {
  color: #313c4e;
}

h3,
h4 {
  font-size: larger;
  font-weight: 600;
}

.upper_side_PI {
  display: flex;
  gap: 2rem;
}

.picture img {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  /* border: 2px solid; */
}

.intro {
  margin: 1rem 0rem;
}

.time {
  font-family: "Roboto", sans-serif;
  color: #666;
  font-size: 0.9rem;
}

.contact {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 2rem;
  background-color: #f1f1f1;
}

i {
  margin-right: 0.5rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

section {
  padding: 2rem 0rem;
}

.contact div:hover i {
  color: #007bff;
  transition: color 0.3s ease-in;
}

/* .toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
} */

section {
  position: relative;
  padding: 2rem 0rem;
}

form h1 {
  text-align: center;
  color: #313c4e;
}

legend {
  font-weight: bold;
}

form div {
  margin: 1rem 0rem;
  box-shadow: 10px 10px 15px 10px #f1f1f1;
  padding: 2rem;
}

.submit-button {
  background-color: #313c4e;
  font-family: "Roboto", sans-serif;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
  margin-top: 2rem;
  text-align: center;
}

.submit-button:hover {
  background-color: #4b525e;
  transform: translateY(-3px);
}

.submit-button:active {
  background-color: rgb(2, 65, 138);
  transform: translateY(1px);
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #28313f;
}

#form_section,
#resume_section {
  padding: 2rem;
  margin: auto;
  max-width: 80rem;
}

#form_section {
  display: block;
}

#resume_section {
  display: none; 
  box-shadow: 10px 10px 15px 10px #f1f1f1;
  border-radius: 1rem;
}

button {
  margin-top: 1rem;
}

.toggle_btn {
  position: absolute;
  right: 0rem;
  top: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.rotation {
  transform: rotate(180deg);
}

#add_experience_btn {
  position: absolute;
    right: 5rem;
    cursor: pointer;
}



/* css for the top buttons */


#resume_controls {
  display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

#resume_controls button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#show_resume_btn {
  background-color: #007bff;
  color: white;
}

#edit_resume_btn {
  background-color: #28a745;
  color: white;
}

#resume_controls button:hover {
  opacity: 0.8;
}

#resume_url_section {
  display: inline-block;
}






@media (max-width: 768px) {
  body {
    margin: 0.5rem;
  }
  .contact {
    gap: 1rem;
    padding: 1rem;
  }
  .picture img {
    height: 7rem;
    width: 7rem;
  }
}
